body {
  background-image: url(background/White\ Simple\ Geometric\ UI\ Landing\ Page\ Wireframe\ Website\ Flow\ Prototype.jpg);
  position: relative;
  
}

.header-container {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  right: 30px;
  top: 35px;
}
.header-container p, button {
  margin-right: 30px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.sign-in-btn {
  background-color: transparent;
  border: solid rgb(0, 0, 0) 2px;
  border-radius: 4px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 0.15s, color 0.15s;
}
.sign-in-btn:hover {
  background-color: black;
  color: white;
}
.home {
  font-weight: bold;
}

.logo-container img {
  width: 250px;
  position: absolute;
  left: 80px;
  top: 40px;
}

.home-page-pic img {
  position: fixed;
  width: 400px;
  bottom: 30px;
  right: 50px;
}

.home-page-tag {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 100px;
  left: 40px;
}
.head {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 35px;
}
.context {
  font-size: 20px;
  margin-top: 20px;
}
.icon {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.icon p {
  margin-left: 8px;
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}
i {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 20px;
}

.home-info {
  position: fixed;
  bottom: 25px;
  left: 600px;
}
